<%- include("partials/header.ejs") %>

<div id="presentation">
    <img id = "me" src="images/Ernesto.jpg" alt="Me">
    <p>
        Machine Learning and Data Engeneering. My name is Ernesto Lora, since I was a child i feeled enthusiastic about scienci and mathematics. 
    I studied Physics bachelor and done an intership in the Aritifitial Inteligence institude. Since then, i am passionate of 
    the Machine Learnig models to solve specific problems and the workflow involved in the production.
    </p> 
</div>


<div>
    <a class="nav-link" href="/students"> 
        <img src="https://picsum.photos/200/200" alt="Students">
    </a>
    <h2>Predict Students Drop Out</h2>
    <p> A dataset created from a higher education institution </p>
</div>