<%- include("partials/header.ejs") %>

<div id="presentation">
    <img id="me" src="/images/Ernesto.jpg" alt="Me">
    <p>
        My name is Ernesto Lora Gonzalez, bachelor's degree in Physics. Data Engineer with 2+ years of experience developing high-performance data systems in Snowflake, Databricks, and AWS. Experienced in building data pipelines to clean data efficiently, modernizing legacy data pipelines, and contributing to the development of fraud detection systems. My work also involves ensuring data governance through testing and version control, and enabling efficient data-driven decisions.
    </p>
</div>

<div class="filter-buttons">
    <button onclick="filterProjects('all')">All</button>
    <button onclick="filterProjects('ml')">Machine Learning</button>
    <button onclick="filterProjects('de')">Data Engineer</button>
</div>


<div class="container project-list" >


    <div class="project-card" data-category="de">
        <a class="nav-link" href="/real_time_inventory"> 
            <img src="images/real_time_inventory/icon.png" alt="inventory Tracking">
        </a>
        <div class="project-info">
            <h2> Real-Time Inventory Tracking for E-Commerce Using Kafka & Databricks </h2>
            <p>E-commerce company that was having a major issue with overselling.</p>
        </div>
    </div>

    <div class="project-card" data-category="de">
        <a class="nav-link" href="/fintech_ingestion"> 
            <img src="images/fintech_ingestion/icon.jpg" >
        </a>
        <div class="project-info">
            <h2> Fintech Weather Impact on Loan Delays </h2>
            <p> A fintech lender suspects weather affects loan repayments in rural areas. They need to correlate weather data with repayment delays (but lack centralized data).</p>
        </div>
    </div>

    <div class="project-card" data-category="de">
        <a class="nav-link" href="/glue_pipeline"> 
            <img src="images/glue_pipeline/icon.png" >
        </a>
        <div class="project-info">
            <h2> E-Commerce CSV-to-Parquet Optimization </h2>
            <p> Supplier inventory CSVs were causing slow analytics and schema inconsistencies.</p>
        </div>
    </div>

    <div class="project-card" data-category="ml">
        <a class="nav-link" href="/cifar10"> 
            <img src="images/cifar10/logo.svg" alt="Spam Detection">
        </a>
        <div class="project-info">
            <h2>Image Classification Cifar 10</h2>
            <p>We have implemented a CNN with a Cutout regularization technique to the Cifar 10 image dataset.</p>
        </div>
    </div>

    <div class="project-card" data-category="ml">
        <a class="nav-link" href="/spam_detection"> 
            <img src="images/spam_detection/spam.svg" alt="Spam Detection">
        </a>
        <div class="project-info">
            <h2>Spam detection</h2>
            <p>A dataset of spam messages and legitimate messages.</p>
        </div>
    </div>


    <div class="project-card" data-category="ml">
        <a class="nav-link" href="/students"> 
            <img src="images/students_dropout/students_dropout.png" alt="Students">
        </a>
        <div class="project-info">
            <h2>Predict Students Drop Out</h2>
            <p>A dataset from a higher education institution that includes students' social, demographic, and academic background information. Each student is classified as either a graduate, currently enrolled, or a dropout.</p>
        </div>
    </div>

    <div class="project-card" data-category="ml">
        <a class="nav-link" href="/air-quality"> 
            <img src="images/air_quality/air_quality.svg" alt="Air Quality">
        </a>
        <div class="project-info">
            <h2>Air Quality Calibration</h2>
            <p>A dataset that includes the registration of various pollutants from a sensor and data from a certified analyzer.</p>
        </div>
    </div>

    <div class="project-card" data-category="ml">
        <a class="nav-link" href="/credit_card"> 
            <img src="images/credit_card/credit_card.png" alt="Credit Card">
        </a>
        <div class="project-info">
            <h2>Predict default of credit card clients</h2>
            <p>A dataset that includes the credit history and additional information of customers, classified based on whether they defaulted or paid on time.</p>
        </div>
    </div>

</div>

<script>
    function filterProjects(category) {
        const projects = document.querySelectorAll('.project-card');

        projects.forEach(project => {
            const projectCategory = project.getAttribute('data-category');

            if (category === 'all' || projectCategory === category) {
                project.style.display = '';
            } else {
                project.style.display = 'none';
            }
        });
    }
</script>

