<%- include("partials/header.ejs") %>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .skill-icon {
    height: 80px;
    margin: 20px;
    transition: transform 0.2s;
    border-color: black;
    border: 2px solid #ddd;  /* Light gray border */
    border-radius: 8px;      /* Rounded corners */
    background-color: #F4F6FF;
    padding: 5px;
}

.skill-icon:hover {
    transform: scale(1.1);
}

.skills-section h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #333;
}

.container {
    max-width: 1000px;
}
</style>
<div class="container my-5">

    <div class="skills-section">
        <h2 class="text-center mb-4">Data Engineering</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <img src="images/skills/dataEng/Apache_Spark_logo.svg.png" class="skill-icon">
            <img src="images/skills/dataEng/azure-sql-database6354.jpg" class="skill-icon">
            <img src="images/skills/dataEng/BigQuery-Logo.jpg" class="skill-icon">
            <img src="images/skills/dataEng/Databricks_Logo.png" class="skill-icon">
            <img src="images/skills/dataEng/dbt-logo.png" class="skill-icon">
            <img src="images/skills/dataEng/kafka.png" class="skill-icon">
            <img src="images/skills/dataEng/redshift.png" class="skill-icon">
            <img src="images/skills/dataEng/snowflake.png" class="skill-icon">
        </div>
    </div>

    <div class="skills-section">
        <h2 class="text-center mb-4">Machine Learning and AI</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <img src="images/skills/python.png" class="skill-icon" alt="Python">
            <img src="images/skills/matplotlib.png" class="skill-icon" alt="Matplotlib">
            <img src="images/skills/numpy.png" class="skill-icon" alt="Numpy">
            <img src="images/skills/sklearn.svg" class="skill-icon" alt="Sklearn">
            <img src="images/skills/tensorflow.png" class="skill-icon" alt="TensorFlow">
        </div>
    </div>

    <div class="skills-section mt-5">
        <h2 class="text-center mb-4">Fullstack Development</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <img src="images/skills/html.svg" class="skill-icon" alt="HTML">
            <img src="images/skills/css.svg" class="skill-icon" alt="CSS">
            <img src="images/skills/javascript.svg" class="skill-icon" alt="JavaScript">
            <img src="images/skills/express.png" class="skill-icon" alt="Express">
            <img src="images/skills/Flask_logo.svg" class="skill-icon">
            <img src="images/skills/django-logo.png" class="skill-icon">
            
            <img src="images/skills/postgree.png" class="skill-icon" alt="PostgreSQL">
            <img src="images/skills/react.svg" class="skill-icon" alt="React">
        </div>
    </div>

    <div class="skills-section mt-5">
        <h2 class="text-center mb-4">Cloud Computing</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <img src="images/skills/gcp.svg" class="skill-icon" alt="GCP">
            <img src="images/skills/aws.png" class="skill-icon">
        </div>
    </div>
</div>