   /* General Reset */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
#container {
    font-family: 'Georgia', serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: auto;
}

/* Headers */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #00509E;
    border-bottom: 2px solid #003366;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    font-size: 1.5em;
    color: #003366;
    margin-top: 20px;
}

/* Paragraphs */
p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.accuracy {
    font-weight: bold;
    color: #006400;
    font-size: 1.4em;
}

/* Links */
a {
    color: #00509E;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #003366;
    text-decoration: underline;
}

/* Images */
img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin: 15px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Container for Analysis Sections */
section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #e6f2ff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Note */
/* p:last-of-type {
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 30px;
} */

/* The cifar 10 */
.layer {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid #007BFF;
}
.layer h3 {
    margin: 0;
    color: #007BFF;
}
.layer p{
    font-size: 1.1em;
    margin-bottom: 15px;
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}