
.filter-buttons {
    text-align: center;
    margin: 20px 0;
}

.filter-buttons button {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.filter-buttons button:hover {
    background-color: #ddd;
}


.navbar-custom {
    background-color: #242f65;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
    font-size: large;
}
.navbar-custom .nav-link:hover {
    color: #d1d1d1;
}

#presentation {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

#me {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#presentation p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    color: #6c757d;
    line-height: 1.6;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.project-info {
    flex-grow: 1;
}

.project-info h2 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 10px;
}

.project-info p {
    color: #6c757d;
    font-size: 16px;
    margin-bottom: 0;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

